* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
    /* padding: 10px; */
}

nav {
    /* position: fixed; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: background 0.5s;
}

.logo {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 3px;
    padding: 10px;
    cursor: pointer;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 15px 18px;
}

nav ul li a {
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 750;
    font-size: 13px;
}

nav:hover {
    background-color: black;
}

nav:hover ul li a {
    color: white;
}

nav ul li a:hover{
    font-weight: bold;
    font-size: large;
    transition: 0.3s;
}

nav:hover h3 {
    color: white;
}

/* nav:hover ul li a:hover {
    background-color: white;
    /* margin-bottom: 30px;
    padding-bottom: 6px;
    background: hidden; */
/* } */ 

/* .container {
    width: 100%;
    justify-content: center;
    align-items: center;
} */

/* #middle-one {
    /* margin-top: 100%;
    padding-bottom: 25%; */
/* } */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 50px 60px;
    padding: 150px 0px ;
    font-weight: bold;
}

.home h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

.home p{
    text-transform: uppercase;
    font-size: medium;
}

.about_btn a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bolder; 
    color: black;  
}

.about_btn a:hover{
    color: white;
}


button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.6s;
}

h2 {
    font-size: 50px;
    color: white;
}


section{
    height: auto;
    width: 100%;
    padding-bottom: 60px;
    background-color: black;
    /* padding: 0;
    margin: 0; */
}

.sub-section {
    background-color: black;
}

.information {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 50px 60px;
    padding: 150px 0px ;
    font-weight: bold;
}

#about-me p{
    margin: 30px 0;
    margin-right: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about-me a{
    text-decoration: none;
    color: white;
}


#resume {
    background-color: black;
    color: white;
    border: solid 1px white;
}

#resume:hover{
    background-color: white;
    color: black;
}

#resume a{
    color: white;
}

#resume a:hover{
    color: black;
}

/* .downlaod-btn {
    min-height: 100vh;
    box-sizing: border-box;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 2rem;
    text-decoration: none;
} */

.pfp-container {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    text-align: right;
        /* justify-content: center; */
}
.pfp {
    width: 180px;
    border-radius: 500px;
    margin: 0 50px;
    margin-left: 50em;
    margin-top: -15em;
    /* margin-bottom: 100em; */
}

.sub-section-alternative {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sub-section-alternative h2{
    color: black;
    padding: 30px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding-top: 25px;
    padding-bottom: 25px; */
}

.project-card {
    width: 300px;
    height: 450px;
    margin: 20px;
    border: 1px solid none;
    box-shadow:  5px 5px 20px grey;
}

.project-container {
    display: flex;
    justify-content: center;
    /* padding: 100px; */
}

.project-image {
    margin-top: 50px;
    margin-bottom: 55px;
    width: 250px;
    height: 10em;
    border-radius: 120px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}


.subtext {
    margin: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.project-link{
    text-decoration: none;
    color: black;
}

footer h2 {
    color: black;
    margin: 80px;
}

.contact-container {
    display: flex;
    justify-content: center;
}
.contact-card {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 1px solid none;
    border-radius: 20px;
    box-shadow:  5px 5px 20px grey;

}

.contact-card p{
    margin: 50px 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top {
    --offset: 50px; 
    height: auto;
    position: sticky;
    bottom: 30px;
    margin-right: 30px; 
    place-self: end;
    margin-top: calc(var(--offset));
    
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: black;
    border-radius: 100px;
    white-space: nowrap;
    float: right;
  }


